/* Main CSS */

body {    
}

#main-content {
}

#main-content div {
    border: 2px solid black;
}

#title-area {
    min-height: 100px;
    height: 15vh;
}
#quiz-area {
    min-height: 600px;
    height: 60vh;
}

#controls-area {
    min-height: 100px;
    height: 10vh;
}

footer p {
    text-align: center;
    font-weight: bold;
}

/* Helpers */

.height50p {
    height : 50%
}