/* Main CSS */

body {    
    background-color: #f8f6ea!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../assets/images/irelandcliffs_sm.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 1;
}

#main-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    padding:40px;
}

#main-content h1 {
    font-size: 30px;
    text-align: center ;
}

#title-area {
    min-height: 100px;
}

.logo {
    text-indent: 3px;
    max-width: 960px;
    max-height: 148px;
}

#message{
    font-size: 40px;
    font-weight: 200px;
    text-transform: uppercase;
    text-shadow: 1px 2px 4px #f8f6ea;
}

#quiz-area {    
    min-height: 60vh;
    text-align: center;    
}
  
.questionbox{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0d1821;
    text-align: center;
    z-index: 1000;
    position: relative;
    margin-top: 40px;
    text-shadow: 1px 1px rgb(247, 247, 237 0.5);
}

#question-form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #0d1821;
    text-align: center;
    z-index: 1000;
    position: relative;
    padding-top: 50px;
    text-shadow: 1px 1px 0.3px #f0fbfd;
}

#answer-area {
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#controls-area button{
    min-height: 90pxpx;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-top: 50px;
}

.answer {
    cursor: pointer;
    width: 60%;
    margin-left: auto;   
    margin-right: auto;
    border-radius: 0.6rem;
    padding: 1rem;
    background: #f0fbfd;
    display: flex;
    justify-content: center;
    color: #0d1821!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    
    -webkit-box-shadow: 0px 9px 0px rgb(215, 221, 223, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(215, 221, 223, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(215, 221, 223, 1), 0px 9px 25px rgba(0, 0, 0, .7);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        
}

.answer:active {
    background-color: #f0fbfd;
    box-shadow: 0 1px #b8bbbd;
    transform: translateY(8px); 
}

.answer:hover {
    background-color: rgba(215, 221, 223, .9);
}

.correct_answer {
    background-color: #657248;
    border: solid 1px  #657248;;  
    color: white!important;  
    -webkit-box-shadow: 0px 3px 0px rgba(2, 222, 101, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(2, 222, 101, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(2, 222, 101, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
}

.correct_answer:hover {
    background-color: rgba(2, 222, 101, .9);
}

.correct_answer:active {
    background-color: #657248;;
    box-shadow: 0 5px #b8bbbd;
    transform: translateY(8px); 
}

.incorrect_answer {
    background-color: rgb(236, 75, 78);
    border: solid 1px  #e5383b;
    color: white!important; 
    -webkit-box-shadow: 0px 3px 0px rgba(236, 75, 78, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(236, 75, 78, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(236, 75, 78, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
}

.incorrect_answer:hover {
    background-color: rgba(236, 75, 78, .9);
}
.incorrect_answer:active {
    background-color: #ec4b4e;
    box-shadow: 0 5px #ca3e41;
    transform: translateY(8px); 
}


.button {
    border: none;
    background-color: #f0fbfd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }

footer p {
    text-align: center;
    font-weight: bold;
}


/* Helpers */

.height50p {
    height : 50%
}

#main-content #scoreboard-area {
    border: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #f8f6ea;
}

#scoreboard-area #scoreboard {
    width: 100%;
    margin-top: 20px;
   /* to keep a uniform and clean line i have commented this out
   
   border-radius: .6rem;
    border: 2px solid #657248;
    /* background-color: rgba(100, 114, 88, 0.6) */
    background-color: rgba(180, 101, 74, 0.8);
}

/* #scoreboard-area .scoreboard-row {
    position: relative;
    display: block;
    width: 100%;
    border-color: #657248;
    border-width: 2px 0 0 0;
    border-style: solid;
} */

#scoreboard-area .current-score {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    /*border-color: #657248;
    border-width: 1px 0 0 0;
    border-style: solid;
    
    ----commented this out for clean line*/
    padding-top: 8px;
    font-size: 1.2em;
}

#scoreboard-area #leaderboard {
    width: 100%;
    margin-top: 20px;
   /* border-radius: .6rem;
    border: 2px solid #657248;---- commenting this out for a clean visual line */
    background-color: rgba(180, 101, 74, 0.8);
}

#scoreboard-area .leaderboard-row {
    position: relative;
    display: block;
    width: 100%;
    /* border-width: 2px 0 0 0; */
}

#scoreboard-area .leaderboard-round-column {
  position: relative;
  display: inline-block;
  width: 45%;
  line-height: 40px
}

#scoreboard-area .leaderboard-score-column {
  position: relative;
  display: inline-block;
  width: 45%;
  line-height: 40px;
}

#scoreboard-area #leaderboard #score-history-header {
    border-color: #657248;
    border-width:0 0 1px 0;
    border-style: solid;
    width: 100%;
}

#scoreboard-area .shamrock-header-image {
    width: 1.2em;
    height: 1.2em;
}
