/* Main CSS */

body {    
}

#main-content {
}

#main-content div {
    border: 2px solid black;
}

#title-area {
    min-height: 100px;
    height: 15vh;
}
#quiz-area {
    min-height: 600px;
    height: 60vh;
}

#controls-area {
    min-height: 100px;
    height: 10vh;
}

footer p {
    text-align: center;
    font-weight: bold;
}

/* Helpers */

.height50p {
    height : 50%
}

#scoreboard {
    text-align: center;
    width: 100%;
}

.scoreboard-row {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid black;
}

.scoreboard-username {
  position: relative;
  display: inline-block;
  width: 70%;
  line-height: 40px;
  float: left;
}

.scoreboard-score {
  position: relative;
  display: inline-block;
  width: 30%;
  line-height: 40px;
}