/* Main CSS */

body {    
    background-color: #f0fbfd;

}


#main-content {
    background-color: #f0fbfd;
    
   
}

#main-content div {
    border: 2px solid #657248;
}

#title-area {
    min-height: 100px;
    height: 15vh;
}
#quiz-area {
    min-height: 600px;
    height: 60vh;
    background-image: url(../assets/images/irelandcliffs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    
    
}
#question-form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: #0d1821;
    text-align: center;
    z-index: 1000;
    position: relative;
    

}
#controls-area {
    min-height: 100px;
    height: 10vh;
}

footer p {
    text-align: center;
    font-weight: bold;
}

/* Helpers */

.height50p {
    height : 50%
}